body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    color: #ffffff;
    /* Mengubah warna teks menjadi putih */
}

.navbar {
    background-color: blue;
    color: #ffffff !important;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa !important;
}

.card {
    height: auto;
    margin-bottom: 20px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
}

.card-footer a {
    color: #007bff;
    margin-right: 10px;
    text-decoration: none;
}

.card-footer a:hover {
    color: #0056b3;
}

.page-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-container {
    margin-bottom: 20px;
}

.post-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.post-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    /* Membuat gambar menjadi elemen blok */
    margin-left: auto;
    /* Membuat margin kiri menjadi otomatis */
    margin-right: auto;
    /* Membuat margin kanan menjadi otomatis */
}

.post-description {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
}

.comment-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.comment-item:last-child {
    border-bottom: none;
}

.comment-item h5 {
    margin-bottom: 5px;
}

.comment-item p {
    margin-bottom: 5px;
}

.comment-item .btn-danger {
    margin-top: 5px;
}